# Create Folds

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import StratifiedKFold

In [2]:
df = pd.read_csv('./memotion_dataset_7k/labels.csv')
df = df.drop('Unnamed: 0', axis=1)
df = df.sample(frac=1).reset_index(drop=True)
df.head()

,image_name,text_ocr,text_corrected,humour,sarcasm,offensive,motivational,overall_sentiment
0,image_6115.jpg,I am therefore leaving immediately for Nepal,I am therefore leaving immediately for Nepal ...,not_funny,general,slight,not_motivational,positive
1,image_952.jpg,YOU HAD MY CURIOSITY,YOU HAD MY CURIOSITY BUT NOW YOU HAVE MY ATTE...,not_funny,not_sarcastic,not_offensive,not_motivational,neutral
2,image_5419.jpg,you should fear me,you should fear me,hilarious,twisted_meaning,hateful_offensive,not_motivational,neutral
3,image_1617.png,In a time of universal deceit,In a time of universal deceit telling the tru...,not_funny,not_sarcastic,very_offensive,motivational,very_positive
4,image_4875.jpeg,RYAN REYNOLDS DESIGNS OMMICHANG DETECTIVE PIKA...,RYAN REYNOLDS DESIGNS OMMICHANG DETECTIVE PIKA...,not_funny,general,very_offensive,motivational,neutral

In [3]:
df['offensive'].value_counts()

not_offensive        2713
slight               2592
very_offensive       1466
hateful_offensive     221
Name: offensive, dtype: int64

In [4]:
df['label'] = df['offensive']
df['label'] = np.where(df['label'] == 'hateful_offensive', 'very_offensive', df['label'])
df['label'].value_counts()

not_offensive     2713
slight            2592
very_offensive    1687
Name: label, dtype: int64

In [5]:
df = df[['image_name', 'text_corrected', 'label']]
df.head()

,image_name,text_corrected,label
0,image_6115.jpg,I am therefore leaving immediately for Nepal ...,slight
1,image_952.jpg,YOU HAD MY CURIOSITY BUT NOW YOU HAVE MY ATTE...,not_offensive
2,image_5419.jpg,you should fear me,very_offensive
3,image_1617.png,In a time of universal deceit telling the tru...,very_offensive
4,image_4875.jpeg,RYAN REYNOLDS DESIGNS OMMICHANG DETECTIVE PIKA...,very_offensive

In [6]:
mskf = StratifiedKFold(n_splits=5)

df['kfold'] = -1

for fold, (train, valid) in enumerate(mskf.split(X=df, y=df['label'])):
    df.loc[valid, 'kfold'] = fold

df['kfold'].value_counts()

0    1399
1    1399
2    1398
3    1398
4    1398
Name: kfold, dtype: int64

In [7]:
df.to_csv('./memotion_dataset_7k/folds.csv', index=False)